<nav>
    <h1>User</h1>
    <a href="http://">Card View</a>
    <a href="http://">List View</a>
    <a href="http://">New User</a>
</nav>


<div class="containere-tb">
    <div class="container-title">
        <p>Name</p>
        <p>Mail</p>
        <p>Address</p>
        <p>Orders:#</p>
    </div>
    <div class="containeri">
        <img src="" alt="">
    </div>
    <div class="container-text">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <span>View Orders</span>
    <div class="containet-btn">
        <button class="edit">Edit</button>
        <button class="dele">Delete</button>
    </div>
</div>
